.column-2{
    position:absolute;
    left:66.5%;
    right:0;
    top:0;
    bottom:0;
    background:#fff;
    height:100vh;
    text-align:center;
    overflow: hidden;
}
.mob-logo{
    opacity:0;
}
.column-2  .title{
    margin:18% auto;
    text-align: center;
    color:#be5050;
    font-family: 'Josefin Sans', sans-serif;
}
.column-2 .btn  span{
    font-size:15px;
    font-weight: 700;
    color:#fff;
    text-decoration:none;
}
.test{
    text-decoration: none;
}
.column-2 .btn{
    border-radius:10px;
    background:#030303;
    margin:24px auto;
    width:152px;
    padding:8px;
    cursor:pointer;
    
}
.column-2 .btn:hover{
    background:#be5050;
    
}
.link a{
    text-decoration:none;
    color:#030303;
    font-size:16px;
    font-weight:bold;
}
.link a:hover{
    color:#be5050;
}
@media only screen and (max-width: 1080px) and (min-width:768px){
    /* For large desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  }

@media only screen and (max-width: 768px) {
      /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    
        .column-2{
            left:0;
            background:rgba(255,255,255,.5);
            
        }
        .mob-logo{
            opacity:1;
        }
  }